<!-- Start Footer Sidebar -->
	<div id="f_sidebar">
		<div class="sb_wrapper">
			<!-- Start First Collumn -->
			<div class="widget-container widget_text first">
				<h3>About XBMC</h3>
				<p>XBMC is a free and open source media player application developed by the XBMC Foundation, a non-profit technology consortium. XBMC is available for multiple operating-systems and hardware platforms, featuring a 10-foot user interface for use with televisions and remote controls. It allows users to play and view most videos, music, podcasts, and other digital media files from local and network storage media and the internet.</p>
			</div>
			<!-- Start First Collumn -->
			<div class="widget-container">
				<h3>Internal Links</h3>
				<ul>
					<li><a href="http://xbmc.org/contribute/" title="Contribute">Contribute</a></li>
					<li><a href="http://xbmc.org/Corporate-Enquiries/" title="Corporate Enquiries">Corporate</a></li>
					<li><a href="http://xbmc.org/known-list-of-gpl-violators" title="GPL Violators">GPL Violators</a></li>
					<li><a href="http://xbmc.org/about/xbmc-foundation/" title="XBMC Team">XBMC Foundation</a></li>
					<li><a href="http://xbmc.org/about/xbmc-software/" title="XBMC Team">XBMC Software</a></li>
					<li><a href="http://xbmc.org/about/team/" title="XBMC Team">XBMC Team</a></li>
				</ul>
			</div>
			<!-- Start Second Collumn -->
			<div class="widget-container last">
			<h3>RSS Feeds</h3>
				<ul>
					<li><a href="http://xbmc.org/comments/feed/" title="Latest Comments">Latest Comments</a></li>			
					<li><a href="https://github.com/xbmc/xbmc/commits/master.atom" title="Latest Commits">Latest Commits</a></li>
					<li><a href="http://xbmc.org/feed/" title="Latest News">Latest News</a></li>
				</ul>
			</div>
			<!-- Start Third Collumn -->
			<div class="widget-container">
			<h3>Sponsors</h3>
				<ul>
					<li><a href="http://xbmc.org/xbmc-sponsor-page" title="Sponsorship">…Sponsorship</a></li>
					<li><a href="http://www.at-visions.com" title="At-Visons">at-Visons</a></li>
					<li><a href="http://www.bytemark.co.uk" title="bytemark">bytemark</a></li>
					<li><a href="http://www.macminivault.com/" title="Mac Mini Vault">Mac Mini Vault</a></li>
					<li><a href="http://www.mythic-beasts.com/" title="Mythic Beasts">Mythic Beasts</a></li>
					<li><a href="http://www.ouya.tv/" title="Ouya">Ouya</a></li>
					<li><a href="http://www.pivosgroup.com/" title="Pivos">Pivos</a></li>
					<li><a href="http://www.vidon.me/" title="VidOn.Me">VidOn.Me</a></li>
					<li><a href="http://www.webhostingbuzz.com/" title="WebHostingBuzz">WebHostingBuzz</a></li>
					<li><a href="http://www.wunderground.com/" title="WUnderground">WUnderground</a></li>
				</ul>
			</div>
			<!-- Start 4th Collumn -->
			<div class="widget-container">
				<h3>Friends</h3>
				<ul>
					<li><a href="http://www.Fanart.tv" title="Fanart.tv">Fanart.tv</a></li>
					<li><a href="http://openelec.tv/" title="OpenELEC">OpenELEC</a></li>
					<li><a href="http://www.TheAudioDB.com" title="TheAudioDB">TheAudioDB.com</a></li>
					<li><a href="http://www.TheGamesDB.net" title="GamesDB">TheGamesDB.net</a></li>
					<li><a href="http://www.TheMovieDB.org" title="TheMovieDB">TheMovieDB.org</a></li>
					<li><a href="http://www.TheTVDB.com" title="TheTVDB">TheTVDB.com</a></li>
					<li><a href="http://xbmclogs.com/" title="XBMCLogs">XBMCLogs.com</a></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
<!-- End Footer Sidebar -->