<!-- Start Footer Sidebar -->
	<div id="f_sidebar">
		<div class="sb_wrapper">
			<!-- Start First Collumn -->
			<div class="widget-container widget_text first">
				<h3>About XBMC</h3>
				<p>XBMC is a free and open source media player application developed by the XBMC Foundation, a non-profit technology consortium. XBMC is available for multiple operating-systems and hardware platforms, featuring a 10-foot user interface for use with televisions and remote controls. It allows users to play and view most videos, music, podcasts, and other digital media files from local and network storage media and the internet.</p>
			</div>
			<!-- Start First Collumn -->
			<div class="widget-container">
				<h3>Internal Links</h3>
				<ul>
					<li><a href="#" title="Development Blog">Corporate Enquiries</a></li>
					<li><a href="#" title="XBMC Team">XBMC Foundation</a></li>
					<li><a href="#" title="XBMC Team">XBMC Team</a></li>
				</ul>
			</div>
			<!-- Start Second Collumn -->
			<div class="widget-container">
				<h3>External Links</h3>
				<ul>
					<li><a href="http://www.Fanart.tv" title="February 2010">Fanart.tv</a></li>
					<li><a href="http://www.TheAudioDB.com" title="April 2010">TheAudioDB.com</a></li>
					<li><a href="http://www.TheGamesDB.net" title="January 2010">TheGamesDB.net</a></li>
					<li><a href="http://www.TheMovieDB.org" title="July 2010">TheMovieDB.org</a></li>
					<li><a href="http://www.TheTVDB.com" title="June 2010">TheTVDB.com</a></li>				
				</ul>
			</div>
			<!-- Start Third Collumn -->
			<div class="widget-container">
			<h3>Sponsors</h3>
				<ul>
					<li><a href="http://www.at-visions.com" title="At-Visons">at-Visons</a></li>
					<li><a href="http://www.convar.com/default.htm?language=1" title="Convar">Convar</a></li>
					<li><a href="http://www.ouya.tv" title="Ouya">Ouya</a></li>
					<li><a href="http://www.pivosgroup.com/" title="Pivos">Pivos</a></li>
					<li><a href="http://www.wunderground.com/" title="WUnderground">Weather Underground</a></li>
				</ul>
			</div>
			<!-- Start 4th Collumn -->
			<div class="widget-container last">
			<h3>RSS Feeds</h3>
				<ul>
					<li><a href="rssupdated.php" title="Latest Add-On RSS">Latest Add-Ons</a></li>
					<li><a href="http://xbmc.org/comments/feed/" title="Comments RSS">Latest Comments</a></li>			
					<li><a href="http://xbmc.org/feed/" title="News RSS">Latest News</a></li>
					<li><a href="rssnewest.php" title="Newst Add-On RSS">Newest Add-Ons</a></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
<!-- End Footer Sidebar -->