<div id="MainNav">
	<a href="http://xbmc.org/" title="Home" class="home_btn"><img  src="images/icon_home.gif" width="17" height="19" alt="Home" /></a>
	<div id="menu">
		<ul class="ddsmoothmenu">
			<li><a href="http://xbmc.org/about/" title="About">About</a></li>
			<li><a href="http://xbmc.org/download/" title="Download">Download</a></li>
			<li class="current-menu-item"><a href="/" title="Add-Ons">Add-Ons</a></li>
			<li><a href="http://wiki.xbmc.org/" title="Wiki">Wiki</a></li>
			<li><a href="http://forum.xbmc.org/" title="Forum">Forum</a></li>
			<li><a href="/donate.php" title="Skins">Donate</a></li>
		</ul>
	</div>
	<!-- Start Social Icons -->
	<ul class="social">
		<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=donate%40xbmc%2eorg&amp;lc=US&amp;item_name=XBMCDonation&amp;no_note=1&amp;no_shipping=1&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" class="ico_donate" title="Donate"></a></li>
		<li><a href="http://www.facebook.com/XBMC" class="ico_facebook" title="Facebook"></a></li>
		<li><a href="https://twitter.com/XBMC" class="ico_twitter" title="Twitter"></a></li>
		<li><a href="http://www.youtube.com/user/teamxbmc" class="ico_myspace" title="YouTube"></a></li>
	</ul>
	<!-- End Social Icons -->
	<div class="clear"></div>
</div>